// Colors
$white: #fff;
$black: #000;
$light-green: rgb(141, 230, 145);


// Font
@import url('https://fonts.googleapis.com/css?family=Allerta+Stencil&display=swap');

$ff-Stencil: 'Stencil', sans-serif;


// media query: @include mediaQ{ ... }
@mixin mediaQ($width: 60em){ //960px
  @media(max-width: $width){
      @content;
  }
}
